.heading{

   width: auto;
   height:125px;
   background-color: rgb(0, 124, 124);
   align-items: center;}

.div_nav{
    color: aliceblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding-top: 25px;
    color: aliceblue;
}


.div_main{
    display: grid;
    grid-template-columns: 1fr 300px;
    height: 300px;
    }

.div_1{
    background-color: rgb(39, 77, 64);
}

.div_2{
   background-color:rgb(88, 0, 0)
}

.footer{
    background-color: rgb(182, 127, 61);
    
    width: auto;
    height: 125px;
    text-align: center;

}

nav li{
    text-align: center; 
    flex: 1 1 auto;   
    align-items: center;}