@media (max-width: 500px){

    img { width: 100%; height: 700px; }
    .weither_1::before {

  content: "🌞";
      }
    .weither{
font-size: 38px;

    }    
   
 p{
  
    text-align: center;

 }

 h2{
    
    text-align: center;

 } 

 h1{
    text-align: center;
 }




 footer{

   text-align: center;
   background-color: rgb(4, 61, 4);
   color: aliceblue;
}
header{
 
 font-family: Roboto ,sans-serif; 
 background-color: rgb(173, 25, 25);
 color: aliceblue;
 text-align: center;
} 
 main{

   font-family: Lato ;
 }
 .imgsvg{

   width:70px;
   height:70px

}


}

